
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("../img/bg2.jpg") no-repeat center/cover;
    color: #fff;
}

header,
nav {
    text-align: center;
    padding: 20px;
    background: #333;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
}

.deals-container {
    text-align: center;
    background: #444;
    border: 1px solid #333;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.deals h2 {
    margin: 20px 0;
    color: #ffcc00;
}

.deal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.deal-item {
    flex: 0 0 30%; /* Adjusted width for each deal item */
    text-align: center;
    padding: 20px;
    margin: 10px;
    background: #555;
    border: 1px solid #333;
    border-radius: 5px;
}

.deal-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.deal-info {
    color: #ffcc00;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.deal-item {
flex: 0 0 30%; /* Adjusted width for each deal item */
text-align: center;
padding: 20px;
margin: 10px;
background: #555;
border: 1px solid #333;
border-radius: 5px;
transition: transform 0.3s ease-in-out;
}

.deal-item:hover {
transform: scale(1.05);
}

.deal-item img {
width: 100%;
height: auto;
margin-bottom: 10px;
}

.deal-info {
color: #ffcc00;
}
