
body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
}
  input[type=email], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #fff; /* Change border color to white */
  background: rgba(255, 255, 255, 0.1); /* Adjust background color for better visibility */
  color: white; /* Change text color to white */
  border-radius: 10px;
box-sizing: border-box;
}

.special{
  background-color: rgba(0, 0, 0, 0.9);
      color: white;
      padding: 10px;
      width: 30%;
      margin: 0 auto;
	  border-radius: 10px;
}