
body {
  background-image: url("https://images.hdqwalls.com/wallpapers/2023-battlefield-2042-game-4k-21.jpg");
  background-size: cover;
}
  input[type=email], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #fff; /* Change border color to white */
  background: rgba(255, 255, 255, 0.1); /* Adjust background color for better visibility */
  color: white; /* Change text color to white */
  border-radius: 10px;
}
